:host {
    --background: #fff; /* blanc pur partout */
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* jolie police moderne */
    color: #333; /* texte sombre */
  }