<ion-menu contentId="main-content" side="start" menuId="main" type="overlay">
  <ion-header>
    <ion-toolbar style="--background: #E74C3C;">
      <ion-title style="color: white; font-weight: 600; font-family: 'Poppins', sans-serif;">Tongasoa!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <ion-list style="background-color: white;">
      <ion-menu-toggle autoHide="true" >
        <ion-item routerLink="/home" lines="none" >
          <ion-icon slot="start" name="cart-outline" style="color: #E74C3C; font-family: 'Poppins', sans-serif;"></ion-icon>
          <ion-label style="color: #fff;">Hijery ireo vokatra</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="true" >
        <ion-item routerLink="/home" lines="none" >
          <ion-icon slot="start" name="call-outline" style="color: #E74C3C; font-family: 'Poppins', sans-serif;"></ion-icon>
          <ion-label style="color: #fff;">Laharana hifaneraserana</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="true">
        <ion-item routerLink="/profile" lines="none">
          <ion-icon slot="start" name="person-outline" style="color: #E74C3C; font-family: 'Poppins', sans-serif;"></ion-icon>
          <ion-label style="color: #fff;">Hijery ny kaontiko</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="true">
        <ion-item routerLink="/search" lines="none">
          <ion-icon slot="start" name="bag-outline" style="color: #E74C3C; font-family: 'Poppins', sans-serif;"></ion-icon>
          <ion-label style="color: #fff;">Hijery ny entako</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="true" >
        <ion-item routerLink="/home" lines="none" >
          <ion-icon slot="start" name="globe" style="color: #E74C3C; font-family: 'Poppins', sans-serif;"></ion-icon>
          <ion-label style="color: #fff;">Hamadika fiteny</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
