<ion-footer>
  <ion-toolbar style="--background: #ffffff; padding: 0;">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-around">
        <ion-col class="ion-text-center">
          <ion-button fill="clear" routerLink="/home">
            <ion-icon slot="icon-only" name="bag-outline" style="color: #000;"></ion-icon>
            <ion-label style="display: block; font-size: 12px; color: #000;">Boutique</ion-label>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" routerLink="/profile">
            <ion-icon slot="icon-only" name="person-outline" style="color: #000;"></ion-icon>
            <ion-label style="display: block; font-size: 12px; color: #000;">Compte</ion-label>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" routerLink="/search">
            <ion-icon slot="icon-only" name="search" style="color: #000;"></ion-icon>
            <ion-label style="display: block; font-size: 12px; color: #000;">Recherche</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
